.file-list {
    position: absolute;
    height: 100%;
    width: 100%;

    overflow: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    border-right: 1px solid var(--c-border);
}

/*
        파일 목록 검색창
*/
.file-list .search {

    position: relative;

    input {
        padding: 9.5px;
        padding-left: 13px;

        outline: none;    
        border: 0;

        display: flex;
        align-items: center;
    }
}

.file-list .file-item {
    position: relative;
    z-index: 0;

    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    cursor: pointer;

    div.name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.file-list .file-item:hover {
    background: rgb(225, 244, 255);
}

#app .file-list-holder:has(.file-list .file-item:hover),
#app .file-list-holder:has(.file-list .search input:focus) {
    flex: 2;
}